<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-color:rgb(157, 255, 157);
            height: 3000px;
            transition: all 5s ;
        }
        .up{
            width:30px;
            height:30px;
            background-color: gray;
            bottom: 20px;
            right: 50px;
            border-radius: 18px;
            text-align: center;
            position: fixed;
           
        }
        .up a{
            transition: all 4s;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <a href="C:\Users\praveen\Pictures\IMG_20211015_203034.jpg">hello</a>
    <p id="up">kjgfjhjhkgjbgninjhv chvjhcchv</p>
    <div class="up"><a href="#">up</a></div>
</body>
</html>